.card {

    font-size: 30px;
    text-align: center;
    /* width: 500px;  */
    height: 300px;
    padding: 10px;
    margin: auto;
    /* margin-top: 30px; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name {
    text-align: center;
    color: white;
    font-size: 30px;
}

input {
    font-size: 30px;
    margin-left: 100px;
    opacity: 0.9;
    border: 1px solid black;
    box-shadow: 0 0 10px white;
    border-radius: 20px;
    padding: 5px;

}

.city {
    margin-top: 100px;
}

.input {
    text-align: center;
}

.input-box {
    text-align: center;
    margin-right: 70px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.decsription-sub-container {
    transform: scale(1.0);
    background-color: rgb(104, 221, 244);
    box-shadow: 0 0 3px 5px rgb(3, 91, 125);
    width: 200px;
    height: 100px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;

}

.title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}